/* Contacts */

.contacts {
    @media screen and (max-width:1199px) {
       &__item + &__item {
        margin-top: 10px;
    } 
    }
  
    

    @media screen and (min-width: 1200px) {
        
        &__item + &__item {
            margin-left: 30px;
        }
        &__icon--mail {
            margin-right: 10px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__icon--mail {
        display: block;
        fill: var(--primary-text-color);
        margin-right: 8px;

        width: 16px;
        height: 12px;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: var(--cubic-bezier);
    }

    &__link--mail,
    &__link--phone {
        display: flex;
        align-items: center;
        // justify-content: center;
        color: var(--primary-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--cubic-bezier);
    }

    &__icon--smartphone {
        display: block;
        fill: var(--primary-text-color);
        margin-right: 8px;
        width: 10px;
        height: 16px;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: var(--cubic-bezier);
    }

    &__link--mail:hover,
    &__link--mail:focus,
    &__link--phone:hover,
    &__link--phone:focus {
        color: var(--accent-color);
    }

    &__link--mail:hover &__icon--mail,
    &__link--mail:focus &__icon--mail,
    &__link--phone:hover &__icon--smartphone,
    &__link--phone:focus &__icon--smartphone {
        fill: var(--accent-color);
    }
}
